<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
      <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>  
      <property name="hibernate.connection.url">jdbc:mysql://192.168.56.101:3306/locadora</property>  
      <property name="hibernate.connection.username">hmg</property>  
      <property name="hibernate.connection.password">hmg123</property>  
      <property name="hibernate.connection.pool_size">10</property>  
      <property name="show_sql">true</property>  
      <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>  
      <property name="hibernate.current_session_context_class">thread</property>
      <!--  
      <property name="hibernate.hbm2ddl.auto">update</property>
      -->	 
    	<mapping class="com.livro.capitulo3.categoria.Categoria"/>
    	<mapping class="com.livro.capitulo3.filme.Filme"/>
    	<mapping class="com.livro.capitulo3.cliente.Cliente"/>
    	<mapping class="com.livro.capitulo3.endereco.Endereco"/>
    	<mapping class="com.livro.capitulo3.locacao.Locacao"/>
    	<mapping class="com.livro.capitulo3.midia.Midia"/>
    	
    </session-factory>
</hibernate-configuration>
