<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    	
    	<property name="connection.datasource">java:/comp/env/jdbc/internetmotorsDB</property>
    	<property name="current_session_context_class">thread</property> <!-- Necessário para o filtro de conexão -->
    	<property name="hibernate.hbm2ddl.auto">update</property>
   
    	<mapping class="internetmotors.usuario.Usuario"/>
    	<mapping class="internetmotors.endereco.Endereco"/>
    	<mapping class="internetmotors.veiculo.Veiculo"/>
    	<mapping class="internetmotors.ocorrencia.Ocorrencia"/>
    	<mapping class="internetmotors.propriedade.AlteracaoPropriedade"/>
    	<mapping class="internetmotors.servico.Servico"/>
    	<mapping class="internetmotors.sinistro.Sinistro"/>
    	
    </session-factory>
</hibernate-configuration>
